<% include ../partials/header %>

<!-- add ajax form to add list items -->

<div class='form'>
  <ul class="form list">
    <% items.forEach( item => { %>
      <li class="item-title">
        <%= item.title %>
      </li>
      <li class="item-description">
        <%= item.description %>
      </li>
      <a href='/users/lists/<%=item.id%>/complete' class="complete-link">
        complete
      </a>
      <br>
      <br>
    <% }); %>
  </ul>
</div>

<% include ../partials/footer %>
